<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <command name="item:powerpublish"
    type="robhabraken.SitecoreTools.PowerPublish.Commands.PowerPublishItem, robhabraken.SitecoreTools.PowerPublish.dll"/>
  <command name="item:unpublish"
    type="robhabraken.SitecoreTools.PowerPublish.Commands.UnpublishItem, robhabraken.SitecoreTools.PowerPublish.dll"/>
  <command name="item:showtargets"
    type="robhabraken.SitecoreTools.PowerPublish.Commands.ShowTargets, robhabraken.SitecoreTools.PowerPublish.dll"/>
</configuration>